/* ---------------------------------------------------------------------- */
/*							    Main Nav
/* ---------------------------------------------------------------------- */

@media (min-width:992px) {
    #mainNav {
    border-color: transparent;
    background-color: transparent;
}
#mainNav .navbar-brand {
    color: fade(white, 70%);
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
}
#mainNav .navbar-nav>li>a, #mainNav .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, .7);
}
#mainNav .navbar-nav>li>a:focus:hover, #mainNav .navbar-nav>li>a:hover {
    color: #fff;
}
#mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, .1);
    background-color: #fff;
}
#mainNav.navbar-shrink .navbar-brand {
    color: #222;
}
#mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #fdcc52;
}
#mainNav.navbar-shrink .navbar-nav>li>a, #mainNav.navbar-shrink .navbar-nav>li>a:focus {
    color: #222;
}
#mainNav.navbar-shrink .navbar-nav>li>a:focus:hover, #mainNav.navbar-shrink .navbar-nav>li>a:hover {
    color: #fdcc52;
}
}

/* ---------------------------------------------------------------------- */
/*							    Header
/* ---------------------------------------------------------------------- */

@media (min-width:992px) {
    header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
}
header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
}
header.masthead .header-content h1 {
    font-size: 50px;
}
header.masthead .device-container {
    max-width: 325px;
}
}